
#form-requirement .form-group input, #form-requirement .form-group textarea, #form-requirement .form-group select {
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    border-color: rgb(212 211 211 / var(--tw-border-opacity, 1));
    border-width: 1px;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
    font-size: .8333333333333334rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: clamp(12px, .625rem, .625rem) clamp(24px, 1.25rem, 1.25rem);
    width: 100%;
    max-height: 3rem;
}
.popup-content .wpcf7-form .wpcf7-spinner {
    display: none;
}
.popup-content .wpcf7-form.submitting .wpcf7-spinner{
    display: block;
}
.form-submit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.form-submit input[type="submit"] {
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-submit .wpcf7-spinner {
    order: 3;
}
.popup-content .wpcf7-form .wpcf7-response-output {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}



.intro_page .grid-cols-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
.intro_page .grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }

@media (min-width: 640px) {
    .intro_page .sm\:grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .intro_page .sm\:grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}

@media (min-width: 1024px) {
    .intro_page .lg\:grid-cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
    .intro_page .lg\:grid-cols-5 { grid-template-columns: repeat(5, minmax(0, 1fr)); }
    .intro_page .lg\:grid-cols-6 { grid-template-columns: repeat(6, minmax(0, 1fr)); }
}

@media (min-width: 1280px) {
    .intro_page .xl\:grid-cols-6 { grid-template-columns: repeat(6, minmax(0, 1fr)); }
}

.intro_page .grid-container {
    display: grid;
    gap: 1rem;
}

.recruitment_intro .container .grid {
    gap: 3rem;
}
.recruitment_intro .container .grid .wrapper .title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3
}
.recruitment_intro_under .grid .col-left {
}
@media (min-width: 1280px) {
    .recruitment_intro .container .grid {
        gap: 5rem;
    }
    .recruitment_intro .container .grid .wrapper .title {
        font-size: 3rem;
        font-weight: 600;
    }   
     .recruitment_intro_top .grid .col-left {
    order: 1;
    }
    .recruitment_intro_under .grid .col-left {
    order: 0;
    }
}